<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Me</title>
     <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <header>
        <header class="bg-blue-500">
    <nav class="container mx-auto flex justify-between items-center p-4">
      <a href="#" class="w-4/5 text-white font-bold text-4xl">Escape Me</a>
       <button class="text-white w-1/5 text-5xl  flex justify-center pb-2" id="menu-toggle">
          &#9776;
        </button>
      <!--<div class="space-x-4">
        <a href="#" class="text-white">Sign Up</a>
        <a href="#" class="bg-white text-blue-500 px-4 py-2 rounded">Sign In</a>
      </div>-->
    </nav>
  </header>
    </header>
    <main>{{{ body }}}</main>
    <footer class=" bg-blue-500 font-bold text-white text-center py-5">
        <h4>Made with &#10084;&#65039; - Omar</h4>
    </footer>
</body>
</html>