<div class="bg-gray-100 min-h-screen">
  <section class="text-slate-950 text-center py-10 w-4/5 mx-auto">
    <h1 class="text-4xl font-bold text-center py-2">
      Welcome to the Admin Center!
    </h1>
    <p class="text-xl mt-4 text-center">
      Manage your bookings, users, escape rooms, and business hours all from this convenient dashboard.
    </p>
  </section>
  <section class="py-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4 md:mx-10">
    <div class="rounded-lg bg-white p-6 shadow-lg text-center">
      <h3 class="font-semibold text-3xl mb-4">Manage Bookings</h3>
      <p class="text-xl">
        View, edit, or cancel bookings.
      </p>
      <a
        href="/admin/bookings"
        class="bg-blue-700 text-slate-50 font-bold py-3 px-6 mt-6 inline-block rounded hover:bg-blue-800"
      >Manage Bookings</a>
    </div>
    <div class="rounded-lg bg-white p-6 shadow-lg text-center">
      <h3 class="font-semibold text-3xl mb-4">Manage Users</h3>
      <p class="text-xl">
        View or edit user accounts.
      </p>
      <a
        href="/admin/users"
        class="bg-blue-700 text-slate-50 font-bold py-3 px-6 mt-6 inline-block rounded hover:bg-blue-800"
      >Manage Users</a>
    </div>
    <div class="rounded-lg bg-white p-6 shadow-lg text-center">
      <h3 class="font-semibold text-3xl mb-4">Manage Escape Rooms</h3>
      <p class="text-xl">
        Add new rooms, edit existing ones, or temporarily disable rooms for maintenance.
      </p>
      <a
        href="/admin/rooms"
        class="bg-blue-700 text-slate-50 font-bold py-3 px-6 mt-6 inline-block rounded hover:bg-blue-800"
      >Manage Rooms</a>
    </div>
    <div class="rounded-lg bg-white p-6 shadow-lg text-center">
      <h3 class="font-semibold text-3xl mb-4">Manage Business Hours</h3>
      <p class="text-xl">
        Adjust your business hours.
      </p>
      <a
        href="/admin/hours"
        class="bg-blue-700 text-slate-50 font-bold py-3 px-6 mt-6 inline-block rounded hover:bg-blue-800"
      >Manage Business Hours</a>
    </div>
  </section>
  <section class="py-8 grid grid-cols-1 gap-8 md:grid-cols-2 md:mx-10">
    <div class="rounded-lg bg-white p-6 shadow-lg text-center">
      <h3 class="font-semibold text-3xl mb-4">Notifications</h3>
      <p class="text-xl">
        Review latest system notifications and alerts.
      </p>
      <a
        href="/admin/notifications"
        class="bg-blue-700 text-slate-50 font-bold py-3 px-6 mt-6 inline-block rounded hover:bg-blue-800"
      >Check Notifications</a>
    </div>
    <div class="rounded-lg bg-white p-6 shadow-lg text-center">
      <h3 class="font-semibold text-3xl mb-4">Analytics</h3>
      <p class="text-xl">
        Check your business performance.
      </p>
      <a
        href="/admin/analytics"
        class="bg-blue-700 text-slate-50 font-bold py-3 px-6 mt-6 inline-block rounded hover:bg-blue-800"
      >View Analytics</a>
    </div>
  </section>
</div>
