<div class="bg-gray-100 min-h-screen">
  <section class="text-slate-950 text-center pt-10 pb-5 w-4/5 mx-auto">
    <h1 class="text-4xl font-bold text-center py-2 lg:text-6xl xl:text-5xl">
      Welcome
      {{name}}
      &#128075;
    </h1>
    <p class="text-xl text-center lg:text-3xl lg:py-5 xl:text-2xl">
      Manage bookings, users, escape rooms, and business hours all from this
      convenient dashboard.
    </p>
  </section>

  <section
    class="py-3 grid grid-cols-1 gap-y-8 md:grid-cols-2 md:mb-24 xl:grid-cols-4 xl:mx-5"
  >
    <a id="bookings" href="/admin/bookings"><div
        class="flex items-center rounded-lg p-5 bg-white text-center mx-5 shadow-lg hover:border-blue-700/50 hover:border-2 lg:h-36 lg:mx-5 xl:h-32"
      >
        <h3
          class="font-semibold text-xl border-r-2 border-gray-300 pr-4 mr-4 lg:text-3xl xl:text-2xl"
        >Manage Bookings &#128218;</h3>
        <p class="text-lg lg:text-2xl xl:text-lg">
          View, edit, or cancel bookings.
        </p>

      </div></a>

    <a href="/admin/manageusers">
      <div
        class="flex items-center rounded-lg bg-white p-5 mx-5 text-center shadow-lg hover:border-blue-700/50 hover:border-2 lg:h-36 lg:mx-5 xl:h-32"
      >
        <h3
          class="font-semibold text-xl border-r-2 border-gray-300 pr-4 mr-4 lg:text-3xl xl:text-2xl"
        >Manage Users &#128100;</h3>
        <p class="text-lg lg:text-2xl xl:text-lg">View or edit user accounts.</p>
      </div>
    </a>

    <a href="/admin/ManageEscapeRooms">
      <div
        class="flex items-center rounded-lg p-5 bg-white text-center mx-5 shadow-lg hover:border-blue-700/50 hover:border-2 lg:h-36 lg:mx-5 xl:h-32"
      >
        <h3
          class="font-semibold text-xl border-r-2 border-gray-300 pr-4 mr-4 lg:text-3xl xl:text-2xl"
        >Manage Escape Rooms &#128477;</h3>
        <p class="text-lg lg:text-2xl xl:text-lg">
          Add, edit, or temporarily disable rooms.
        </p>

      </div></a>

    <a href="/admin/hours"><div
        class="flex items-center rounded-lg p-5 bg-white text-center mx-5 shadow-lg hover:border-blue-700/50 hover:border-2 lg:h-36 lg:mx-5 xl:h-32"
      >
        <h3
          class="font-semibold text-xl border-r-2 border-gray-300 pr-4 mr-4 lg:text-3xl xl:text-2xl"
        >Manage Business Hours &#128337;</h3>
        <p class="text-lg lg:text-2xl xl:text-lg">
          Adjust your business hours.
        </p>

      </div></a>

  </section>

  <section class="py-8 grid grid-cols-1 gap-y-8 lg:mx-8">

    <a href="/admin/notifications"><div
        class="flex items-center rounded-lg p-5 bg-white text-center mx-5 shadow-lg hover:border-blue-700/50 hover:border-2"
      >
        <h3
          class="py-5 font-semibold text-xl border-r-2 border-gray-300 pr-4 mr-4 md:w-1/3 lg:text-3xl"
        >Notifications &#128276;</h3>
        <p class="text-lg w-full lg:text-2xl">
          Review latest system notifications and alerts.
        </p>

      </div></a>

    <a href="/admin/analytics">
      <div
        class="flex items-center text-center rounded-lg p-5 bg-white text-center mx-5 shadow-lg hover:border-blue-700/50 hover:border-2"
      >
        <h3
          class="py-5 font-semibold text-xl border-r-2 border-gray-300 pr-4 mr-4 md:w-1/3 lg:text-3xl"
        >Analytics &#128200;</h3>
        <p class="text-lg w-full lg:text-2xl">
          Check your business performance.
        </p>
      </div></a>

  </section>
</div>


<script
      src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
      integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
      crossorigin="anonymous"
    ></script>

{{!-- <script>
let todaysDate = dayjs().format('YYYY-MM-DD')

$('#bookings').attr('href', `/admin/bookings/${todaysDate}`)

</script> --}}