<div class="container mx-auto px-4 py-12">
  <h1 class="text-4xl font-bold mb-8 text-center">Book Your Escape Room</h1>

  <div class="bg-white shadow-lg rounded-lg p-8">
    <form id="booking-form">
      <div class="mb-6">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="escape-room"
        >Select Escape Room:</label>
        <select
          class="block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 mb-3"
          id="escape-room"
          name="escape-room"
        >
          {{#each escapeRooms}}
            <option value="{{id}}">{{theme}}: {{difficulty}}</option>
          {{/each}}
        </select>

      </div>

      <div class="mb-6">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="booking-date"
        >Select Date:</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="booking-date"
          type="date"
          name="booking-date"
          required
        />
      </div>

      <div class="mb-6">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="booking-time"
        >Select Time:</label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="booking-time"
          type="time"
          name="booking-time"
          required
        />
      </div>

      <button
        type="submit"
        class="w-full bg-indigo-600 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline"
      >Book Now</button>
    </form>
  </div>
</div>

<script src="/js/booking.js"></script>