<div class="bg-gray-100 min-h-screen p-5">
  <section class="text-slate-950 text-center pt-10 pb-5 w-4/5 mx-auto">
    <h1 class="text-4xl font-bold text-center py-2 lg:text-6xl xl:text-5xl">
      Manage Bookings
    </h1>
    <p class="text-xl text-center lg:text-3xl lg:py-5 xl:text-2xl">
      View, edit, or cancel bookings for any date.
    </p>
  </section>

  <section class="py-3 px-5">
    <div class="flex justify-between items-center mb-5">
      <div class="flex items-center">
        <button
          id="left-arrow"
          class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-700 mr-2"
        >←</button>
        <p id="date" class="text-xl">{{date}}</p>
        <button
          id="right-arrow"
          class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-700 ml-2"
        >→</button>
      </div>

      <div class="">
        <label for="rooms" class="text-lg font-bold mb-2">Filter by Escape Room:</label>
        <select
          name="rooms"
          id="rooms"
          class="bg-white h-10 px-3 rounded-full text-sm focus:outline-none"
        >
          <option value="All">All</option>
          <!-- Add options for each escape room. -->
          {{#each escaperooms}}
            <option value="{{this.id}}">{{this.theme}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div id="bookings"></div>

  </section>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
  integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
  crossorigin="anonymous"
></script>

<script src="/js/managebookings.js">
</script>